*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

nav {
    display: flex;
}

ul {
    list-style: none;
}

#countdown {
    position: absolute;
    right: 150px;
    width: 200px;
    height: 120px;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin: 25px;
    padding: 50px;
}

#title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

li {
    transition-duration: 0.3s;
}

li button {
    margin: 10px;
    padding: 20px;
    width: 94%;
    text-align: left;
}

.quiz-container {
    margin: 50px;
    padding: 25px;
}

.card {
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 10px 2px;
    margin: 50px;
    padding: 25px;
    width: 730px;
}

button {
    background-color: rgb(127, 255, 212);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 20px;
    width: 200px;
}

button:hover {
    background-color: rgb(60, 222, 168);
    color: white;
  }

footer {
    margin-top: 1px solid gray;
}

/* ! TODO: Center the two buttons on the high scores card */

.btn-scoreboard {
    display: flex;
    justify-content: space-evenly;
}

/* TODO: Add horizontal line under cards for 'Correct'/'Incorrect' text */

#horizontal-line {
    border-top: 1px solid gray;
    margin: 10px;
}

/* .btn-scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* #scoreboard button {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */