/* v.2 post-bootcamp */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

nav {
    display: flex;
    justify-content:space-between;
}

#hs-btn {
    color: black;
    background-color: white;
}

#hs-btn:hover {
    color: #3282d8;
}

#countdown {
    padding: 1rem;
    margin: 1rem;
}

.quiz-container {
    flex-direction: column;
    width: 30rem;
    max-width: 80%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem 0.1rem rpga(0, 0, 0, 0.1);
}

#start-container,
#final-container,
#scoreboard {
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    padding: 0 2rem 2rem 2rem;
}

#question-container {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
}

#question {
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
}

.answer-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin-bottom: 1rem;
}

#scoreboard-btns {
    align-items: center;
}

#return-btn {
    padding: 1rem;
    border-radius: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input {
    width: fit-content;
}

.btn {
    padding: 1.5rem;
    background-color: #70b5ff;
    color: white;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

inupt,
.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: #3282d8;
}

.hide {
    display: none;
}

#result {
    margin: 2rem auto;
}

#start,
#question,
#result {
    font-size: 1.5rem;
    font-weight: bold;
}

#final-container {
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    padding: 0 2rem 2rem 2rem;
}

/* v.1 original styling */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
} */


/* main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
} */

/* h1, h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin: 25px;
    padding: 50px;
} */
/* 
#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
} */

/* li {
    transition-duration: 0.3s;
} */

/* li button {
    margin: 10px;
    padding: 20px;
    width: 94%;
    text-align: left;
} */
/* 
.quiz-container {
    margin: 50px;
    padding: 25px;
} */

/* .card {
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 10px 10px 10px 2px;
    margin: 50px;
    padding: 25px;
    width: 730px;
} */

/* button:hover {
    background-color: rgb(60, 222, 168);
    color: white;
  } */

/* footer {
    margin-top: 1px solid gray;
} */

/* ! TODO: Center the two buttons on the high scores card */

/* .btn-scoreboard {
    display: flex;
    justify-content: space-evenly;
} */

/* TODO: Add horizontal line under cards for 'Correct'/'Incorrect' text */

/* #horizontal-line {
    border-top: 1px solid gray;
    margin: 10px;
} */

/* .btn-scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* #scoreboard button {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */